<div class="container">
    <div id="general">
        <div id="sidebar">
            <button class="button"> <a [routerLink]="['/calendar']">Acceuil</a></button>
            <button class="button"> <a [routerLink]="['/form']">Prise de RDV</a></button>
            <button class="button"> <a [routerLink]="['/admin']">Gestion Administrator</a></button>
            <button class="button"> <a [routerLink]="['/calendar']">Calendrier</a></button>

        </div>
    </div>
</div>
<!-- <div>
       <p *ngIf="afficheFormulaire===true; else notAfficheFormulaire">
        <app-form></app-form>
    </p>
    <ng-template #notAfficheFormulaire>
    </ng-template>
</div> -->